*{padding: 7px;margin: 4px;
  font-family: 'Concert One', cursive;
}
    
header{
    
padding: 10px;
    
color: #D9AB9A;
}
body{
  background-color: #736A62;
}
.barraNavegacion{
    display: flex;
  justify-content: center
}

.barraNavegacion ul li a{
  text-decoration: none;
  color: #D9C9BA;
  padding: 21px;
  border: 10px solid #403D3D;
  margin: 3px 11px 6px 13px;
  background: #403D3D;
  display: inline-block;
  list-style:
  none;
}
li{
    
margin: 10px 5px 10px 6px;
list-style-type: none;
justify-content: space-between;
display:inline-block
}
.primerParrafo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #0D0D0D;
  color: #BFB0A3;
  font-size: 24px;}
  h2 {
    text-align: center;
    font-size: 50px;
}
.cuticula {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 10px solid #0D0D0D;
  margin: 13px;
}
.pruebaPorosidad {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  border: 16px solid #403D3D;
  margin: 10px;
}



.iconos{
  display: flex;
  justify-content: space-between;
  background-color: #403D3D;
}