*{
    padding: 7px;
    margin: 4px;
    font-family: 'Concert One', cursive;
  }
      
  header{
      
  padding: 10px;
      
  color: #D9AB9A;
  }
  .barraNavegacion{
      display: flex;
    justify-content: center
  }

  .barraNavegacion ul li a{
    text-decoration: none;
    color: #D9AB9A;
    padding: 31px;
    border: 5px solid #BF4B4B;
    margin: 3px 11px 6px 13px;
    background: #BF4B4B;
    display: inline-block;
    list-style:none;
  
  }
  li{
      
  margin: 10px 5px 10px 6px;
  list-style-type: none;
  justify-content: space-between;
  display:inline-block
  }
  .redes{
    max-width: 28px;
    max-height: 39px;
    margin: 10px;
    border: 5px solid #BF4B4B;
    margin-left: 146px;
    margin-right: 202px;
    text-decoration: none;

}


label {
    display:
    block;
    margin-top: 21px;
    letter-spacing: 7px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:'Courier New', Courier, monospace;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width: 393px;
    height:27px;
    background: #BF8A6B;
    border: 7px solid #D9AB9A;
    padding: 11px;
    margin-top: 23px;
    font-size: 15px;
    color: #D9AB9A;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
.contactos{
    padding: 54px;
    text-align: center;
    margin: 27px 119px 29px 377px;
    /* border:19px solid #BF4B4B; */
    border: 16px solid #BF4B4B;
    background: #D9AB9A;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}