*{padding: 7px;margin: 4px;
    font-family: 'Concert One', cursive;
  }
      
  header{
      
  padding: 10px;
      
  color: #D9AB9A;
  }
  body{
    background-color: #736A62;
  }
  .barraNavegacion{
      display: flex;
    justify-content: center
  }
  
  .barraNavegacion ul li a{
    text-decoration: none;
    color: #D9C9BA;
    padding: 21px;
    border: 10px solid #403D3D;
    margin: 3px 11px 6px 13px;
    background: #403D3D;
    display: inline-block;
    list-style:
    none;
  }
  li{
      
  margin: 10px 5px 10px 6px;
  list-style-type: none;
  justify-content: space-between;
  display:inline-block
  }
  
  
  
  
  
  .iconos{
    display: flex;
    justify-content: space-between;
    background-color: #403D3D;
  }

label {
    display:
    block;
    margin-top: 21px;
    letter-spacing: 7px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:'Courier New', Courier, monospace;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width: 393px;
    height: 27px;
    background: #736A62;
    border: 7px solid #D9AB9A;
    padding: 11px;
    margin-top: 23px;
    font-size: 15px;
    color: #D9AB9A;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.contactos {
  padding: 54px;
  text-align: center;
  margin: 34px 119px 29px 440px;
  border: -34px solid #403D3D;
  background: #403D3D;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}