*{padding: 7px;margin: 4px;
    font-family: 'Concert One', cursive;
  }
      
  header{
      
  padding: 10px;
      
  color: #D9AB9A;
  }
  body{
    background-color: #736A62;
  }
  .barraNavegacion{
      display: flex;
    justify-content: center
  }
  
  .barraNavegacion ul li a{
    text-decoration: none;
    color: #D9C9BA;
    padding: 21px;
    border: 10px solid #403D3D;
    margin: 3px 11px 6px 13px;
    background: #403D3D;
    display: inline-block;
    list-style:
    none;
  }
  li{
      
  margin: 10px 5px 10px 6px;
  list-style-type: none;
  justify-content: space-between;
  display:inline-block
  }
  .proqueExfoliar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
h1.titulo {
    border: 15px solid #403D3D;
    color: #D9C9BA;
    font-size: 67px;
    background-color: #403d3d;
}
  
  
  
  
  .iconos{
    display: flex;
    justify-content: space-between;
    background-color: #403D3D;
  }