*{
  padding: 0;
  margin: 0;
  }
  body{
    color:#D9C9BA ;
    background-color: #403D3D;
  }
  .barraNavegacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: nav;
  }
  
  .barraNavegacion ul li a{
  text-decoration: none;
  color: #403D3D;
  padding: 31px;
  margin: 3px 11px 6px 13px;
  background: #736A62;
  display: inline-block;
  }
  li{  
  margin: 10px 5px 10px 6px;
  list-style-type: none;
  justify-content: space-between;
  display:inline-block
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  
  article {
    
    background-color: #736A62;
    border: solid #736A62 15px;
    
  }
  .inicio {
    display: flex;
    flex-direction: row;
    
    
    margin: 5px 0px 44px 0px;
    align-items: stretch;
   
    font-size: 22px;
    align-content: center;
    justify-content: flex-end;
  }
  .conociendoTiposDePieles {
    border-block: 25px solid #D9C9BA;
}

.pieDeFoto {
  margin: 16px;
}

.pieles{
  display: grid;
  grid-template-areas: 
  "normal seca"
  "grasa  mixta";
}
.pielNormal {
  border: 8px solid black;
  margin: 2px;
  grid-area: normal;
  background-color: #403D3D;
  align-items: center;
  text-align: center;
}
.pielSeca {
  border: 8px solid black;
  margin: 2px;
  grid-area: seca;
  background-color: #403D3D;
  align-items: center;
  text-align: center;
}

.pielGrasa {
  border: 8px solid black;
  margin: 2px;
  grid-area: grasa;
  background-color: #403D3D;
  align-items: center;
  text-align: center;
}

.pielMixta {
  border: 8px solid black;
  margin: 2px;
  grid-area: mixta;
  background-color: #403D3D;
  align-items: center;
  text-align: center;
 
}
  aside{
    grid-area: publicidad;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
nav.iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 45px;}