* {
  padding: 0px;
  margin: 0; }

body {
  color: #D9C9BA;
  background-color: #403D3D;
  display: grid;
  grid-template-areas: "nav nav nav " "titulo titulo titulo" "publicidad articulo articulo" "publicidad articulo articulo" "pie pie pie";
  grid-template-columns: 20% 40% 40%; }
  body header {
    grid-area: nav;
    align-items: center;
    grid-area: nav; }
    body header .barraNavegacion {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      background-color: #403D3D; }
      body header .barraNavegacion li {
        margin: 10px 5px 10px 6px;
        justify-content: space-between;
        display: inline; }
      body header .barraNavegacion a {
        text-decoration: none;
        color: #403D3D;
        padding: 31px;
        margin: 3px 11px 6px 13px;
        background: #736A62;
        display: block; }
  body h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    grid-area: titulo; }
    body h1 .titulo {
      color: #D9C9BA;
      background-color: #0D0D0D;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 18px;
      margin: 71px 7px 1px 15px; }
  body main {
    grid-area: articulo; }
    body main article {
      align-items: center;
      display: flex; }
      body main article .presentacion {
        align-content: space-around; }
      body main article p .texto {
        font-size: 22px;
        padding: 10px;
        margin: 20px; }
      body main article img {
        grid-area: foto; }
  body aside {
    grid-area: publicidad; }
    body aside .propaganda {
      display: flex;
      border: solid #BFB0A3 10px;
      margin-top: 60px; }
  body footer {
    grid-area: pie; }
    body footer .iconos {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 42px;
      margin: 79px; }
