*{
    padding: 0px;
    margin: 0;
    
  }
body{
 color:#0D0D0D ;
 background-color: #F3AEA5;
 display: grid;
 grid-template-areas:
       "nav nav nav "
       "titulo titulo titulo"
       "articulo articulo articulo"
       "articulo articulo articulo"
       "pie pie pie" ;
 grid-template-columns: 20% 40% 40%;

      

 header{
      grid-area:nav; 
      align-items: center;
      grid-area: nav;
      background-color:#BF8A7E;
      font-size: 15px;
      .barraNavegacion{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #BF8A7E;
        
        
      li{
         margin: 10px 5px 10px 6px;
         justify-content: space-between;
         display:inline;
         

         
        }
      a{
        text-decoration: none;
        padding: 31px;
        margin: 3px 11px 6px 13px;
        display: block; 
        
       }
       
       
       
         
    }

 }
 h1{
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  grid-area: titulo;
  width: 100%;
  height: 583px;
  position: relative;
  background-image: url(../img/portadaIndex.jpg);
  background-position: center;
  justify-content: flex-start;
  font-size: 8rem;
 }
 
 main{
    grid-area: articulo;
    article{
     align-items: center;
     display: flex;
     margin-top: 20px;
     .presentacion{
        align-content: space-around; 
       
      }
     p{
      padding: 28px;
      font-size: 25px;
      margin: 10px; 

      
      }
     img{
     grid-area:foto;
     margin: 20px;

     }
    }

 }
 
 footer{
    grid-area: pie;
   .iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 42px;
    background-color: #BF8A7E;

   } 
   
 }
}



    


